@media screen and (min-width: 320px) and (max-width: 600px) {
    .span {
        display: block;
    }

    .container {
        min-width: 320px;

        margin: 0 auto;
        padding: 0;
        padding-top: 60px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-size: 21px;
    }

    .text {
        font-size: 14px;
    }

    .page {
        text-align: center;
        padding-top: 60px;
    }

    .button_size_m,
    .button_size_s {
        height: 50px;
        width: 170px;
        font-size: 16px;
    }

    .nav-list {
        margin: 0;

        flex-direction: column;
        align-items: center;
    }

    .img_desktop {
        display: none;
    }

    .img_mobile {
        display: block;

        position: absolute;
        right: 50%;
        bottom: 0;
        transform: translateX(50%);
    }

    /* header*/
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        background: white;
        z-index: 2;

        padding: 0;
        height: 60px;
        border-bottom: 1px solid var(--button-border-color-light);
    }

    .header__container {
        flex-direction: row;
        padding-top: 0;
        padding-left: 20px;
    }

    .header__nav {
        position: fixed;
        right: -100vw;
        top: 60px;
        z-index: 2;

        height: 100vh;
        width: 100vw;

        background-color: #fff;

        transition: right 0.5s;
    }

    .header-nav__list{
        padding-top: 0;
        height: 50%;
    }

    .header-nav__item{
        height: 82px;
        width: 100%;
        border-bottom: var(--button-border-color-light) solid 1px;

        align-content: center;
    }

    .header-list__link{
        font-size: 24px;
    }

    .header__button {
        display: none;
    }

    .header__logo {
        transform: translateY(3px);
    }

    .header__nav-button {
        display: block;
        height: 60px;
        width: 60px;

        border-left: 1px solid var(--button-border-color-light);

        border-radius: 0;
    }

    /* hero*/
    .hero {
        height: 660px;
    }

    .hero__container {
        padding: 32px 0 25px;

        height: 100%;

        position: relative;
    }

    .hero__title {
        max-width: 290px;
        margin: 0 auto 52px;

        position: relative;
    }

    .hero-title__arrow-right {
        display: none;
    }

    .hero-title__arrow-down {
        display: block;
        position: absolute;
        top: 93px;
        left: 50%;
        transform: translateX(-50%);
    }

    .hero__text {
        max-width: 280px;
        margin: 0 auto 28px;

        font-size: 16px;
    }

    /* start*/
    .start {
        padding-top: 25px;
    }

    .start__container {
        height: 1407px;

        position: relative;
    }

    .start__title {
        margin-bottom: 30px;
    }

    .start__img {
        top: unset;
        left: unset;
    }

    .start__list {
        row-gap: 30px;
    }

    .start__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0;

        max-width: 257px;
        height: 152px;
    }

    .start-item__img {
        min-width: 60px;
        min-height: 60px;
        margin-bottom: 20px;
    }

    .start-item__title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    /* partnership */
    .partnership {
        height: 1228px;
        padding-top: 30px;
    }

    .partnership__title {
        width: 236px;
    }

    .partnership__text-desktop {
        display: none;
    }

    .partnership__mobile-text-list {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }

    .partnership__text-mobile {
        max-width: 260px;
        margin: 0;
    }

    .partnership-list {
        flex-direction: column;
        row-gap: 10px;

        margin-bottom: 30px;
    }

    .partnership-list__item {
        width: 300px;
        height: 140px;

        row-gap: 15px;

        padding-top: 25px;
        padding-bottom: 20px;
    }

    .partnership-list__item:nth-child(3)>.partnership-item__text {
        width: 290px;
    }

    .partnership-item__text {
        width: 290px;
    }

    /* apps*/
    .apps {
        height: 630px;
    }

    .apps__container {
        padding-top: 50px;
    }

    .apps__block {
        height: 580px;
        width: 100%;

        border-radius: 0;

        padding-top: 41px;
        padding-left: 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;
    }

    .apps__title {
        width: 192px;
        margin-bottom: 23px;
    }

    .apps__text {
        width: 280px;
        margin-bottom: 28px;
    }

    .apps__links {
        flex-direction: column;
        row-gap: 20px;
    }

    /* reviews */
    .reviews {
        height: 593px;
    }

    .reviews__container {
        padding: 65px 0 50px;
    }

    .reviews__text {
        width: 300px;

        border-bottom: none;
    }

    .reviews__button {
        top: unset;
        bottom: 50px;
    }

    .reviews__button_next {
        right: 115px;
    }

    .reviews__button_previous {
        right: unset;
        left: 115px;
    }

    .review__author-data {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .author-data__img {
        margin-bottom: 16px;
    }

    .author-data__name {
        padding: 0;
    }

    /* form */
    .partners-form{
        width: 100vw;
    }

    .partners-form__container{
        padding-top: 59px;
        
    }

    .partners-form__close-button{
        top: 18px;
        right: 18px;
    }

    .partners-form__title{
        width: 236px;
        margin-bottom: 35px;
    }

    .partners-form__text{
        font-size: 13px;
        width: 191px;
    }

    .partners-form__form{
        width: 300px;
    }

    .partners-form__input-block{
        margin-bottom: 10px;
    }

    .partners-form__input-block:nth-child(3){
        margin-bottom: 16px;
    }

    .partners-form__input::placeholder,
    .partners-form__input{
        font-size: 14px;
    }

    .input-block__img{
        transform: scale(100%);
    }

    .partners-form__label{
        font-size: 13px;
    }

    .partners-form__label::before{
        transform: translateY(-2px);
    }

    .partners-form__checkbox:checked + .label::after,
    .partners-form__checkbox:not(:checked) + .label::after{
        transform: scale(50%) translateY(-4px);
    }

    .partners-form__button{
        margin-top: 35px;
        margin-bottom: 30px;
    }

    /* footer */
    .footer {
        height: 320px;
    }

    .footer__container {
        flex-direction: column;
        row-gap: 19px;

        padding-top: 39px;
        padding-bottom: 35px;
    }

    .footer-nav__list {
        height: 136px;
        justify-content: space-between;
    }
}