:root {
    --font-light: 'GT Eesti Pro Display Light';
    --font-regular: 'GT Eesti Pro Display Regular';
    --font-medium: 'GT Eesti Pro Display Medium';

    --main-font-color: #72727E;
    --font-color-blue: #446DF6;
    --font-color-dark-blue: #141B41;
    --font-color-white: #EEE;

    --button-bg-color: #446DF6;
    --button-border-color-light: #E9ECF5;
    --button-border-color-dark: #72727E;
    --shadow-color: rgba(20, 27, 65, 0.03);
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

/* page */
.page__body {
    margin: 0;
    font-family: var(--font-light);
    color: var(--main-font-color);
    font-size: 18px;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.title {
    font-family: var(--font-regular);
    font-size: 40px;
    line-height: 125%;
    color: var(--font-color-dark-blue);
    font-weight: normal;

    margin: 0;
}

.text {
    line-height: 140%;
    margin: 0;
}

.img {
    max-width: 100%;
    height: auto;
}

.img_mobile{
    display: none;
}

.form{
    margin: 0;
}

.input{
    display: block;
}

/* button */
.button {
    border: none;
    border-radius: 6px;

    padding-inline: 0;
    padding-block: 0;

    cursor: pointer;
}

.button_size_xs {
    height: 50px;
    width: 50px;
}

.button_size_s {
    min-height: 50px;
    width: 170px;

    font-size: 16px;
}

.button_size_m {
        height: 60px;
    width: 240px;

    font-size: 18px;
}

.button_tranparent {
    background-color: rgba(0, 0, 0, 0);
}

.button_blue {
    background-color: var(--button-bg-color);
    color: var(--font-color-white);
}

.button_circle {
    border-radius: 50%;
}

.button_with-text {
    font-family: var(--font-medium);

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-top: 3px;
}

/* list */
.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list {
    display: flex;
    column-gap: 60px;

    margin-left: 195px;
    margin-right: 140px;
}

/* header */
.header {
    height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__list {
    padding-top: 5px;
}

.list__link {
    padding: 5px 0;
    font-size: 18px;

    color: var(--main-font-color);
}

.header__button {
    border: var(--button-border-color-light) solid 1px;

    color: var(--font-color-blue);
}

.header__nav-button {
    display: none;
}

/* hero */
.hero {
    height: 650px;
}

.hero__container {
    padding: 148px 0;

    position: relative;
}

.hero__title {
    width: 550px;
    margin-bottom: 23px;
}

.hero-title__arrow-right {
    transform: translateY(15%);
}

.hero-title__arrow-down {
    display: none;
}

.hero__text {
    width: 520px;
    font-size: 24px;
    margin-bottom: 52px;
}

.hero__img {
    position: absolute;
    bottom: 0;
    right: -105px;
}

/* start */
.start__container {
    height: 695px;
    padding-left: 570px;
    padding-top: 70px;

    position: relative;
}

.start__img {
    position: absolute;
    top: 0;
    left: -135px;
}

.start__title {
    line-height: 110%;
    margin-bottom: 52px;
}

.start__list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 60px;
}

.start-item {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 60px 1fr;
    row-gap: 8px;
    column-gap: 30px;
}

.start-item__img {
    grid-row: 1 / 3;
}

.start-item__title {
    font-size: 24px;
    line-height: 135%;
}

.start-item__text {
    line-height: 135%;
}

/* partnership */
.partnership {
    height: 580px;
}

.partnership__container {
    padding-top: 45px;
    text-align: center;
}

.partnership__title {
    font-size: 32px;
    line-height: 125%;
    margin-bottom: 17px;
}

.partnership__text {
    width: 840px;
    margin: 0 auto 38px;
}

.partnership__mobile-text-list {
    display: none;
}

.partnership__list {
    display: flex;
    column-gap: 30px;

    margin-bottom: 60px;
}

.partnership-list__item {
    width: 210px;
    height: 200px;

    box-shadow: 0 20px 20px var(--shadow-color);
    border-radius: 10px;

    padding-top: 40px;

    display: flex;
    flex-direction: column;
    row-gap: 24px;
    align-items: center;
}

.partnership-item__text {
    font-size: 16px;
    color: var(--font-color-dark-blue);

    width: 146px;
}

.partnership-item:nth-child(3)>.partnership-item__text {
    width: 115px;
}

.partnership__button {
    margin: 0 auto;
}

/* apps */
.apps {
    height: 510px;
}

.apps__container {
    padding-top: 140px;

    position: relative;
}

.apps__block {
    height: 370px;
    background-color: #8ca6f9;

    border-radius: 20px;

    padding-left: 70px;
    padding-top: 50px;
}

.apps__title {
    line-height: 115%;
    width: 365px;
    color: var(--font-color-white);

    margin-bottom: 17px;
}

.apps__text {
    width: 355px;
    color: var(--font-color-white);
    margin-bottom: 45px;
}

.apps__links {
    display: flex;
    column-gap: 20px;
}

.apps__img {
    position: absolute;
    bottom: 0;
    right: 60px;
}

/* reviews */
.reviews__container {
    height: 595px;
    padding-top: 140px;
    position: relative;
}

.reviews__title {
    margin-bottom: 17px;
}

.reviews__item {
    display: none;
    margin: 0;
}

.reviews__button {
    position: absolute;
    top: 213px;
}

.reviews__button_next {
    right: 0;
}

.reviews__button_previous {
    right: 70px;
}

.reviews__text {
    width: 705px;

    padding-bottom: 30px;
    margin-bottom: 30px;

    border-bottom: #F7F8FD solid 2px;
}

.review__author-data {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
}

.author-data__img {
    grid-row: 1 / 3;
    border-radius: 50%;
}

.author-data__name {
    font-size: 24px;
    font-style: normal;
    display: flex;

    align-items: end;

    padding-top: 12px;
}

.author-data__position {
    width: 74px;
}


/* form */
#bg_black-transparent{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0);

    transition: background-color 0.4s ease;
}

.partners-form{
    position: fixed;
    top: 0;
    right: -480px;
    z-index: 3;

    width: 480px;
    height: 100vh;
    background-color: #fff;

    transition: right 0.4s ease-out;
}

.partners-form__container{
    position: relative;
    padding-top: 84px;

    text-align: center;
}

.partners-form__close-button{
    position: absolute;
    top: 33px;
    right: 29px;
}

.partners-form__title{
    font-size: 32px;
    width: 359px;
    margin: 0 auto 75px;
}

.partners-form__text{
    font-size: 13px;
}

.partners-form__form{
    width: 400px;
    margin: 0 auto;
}

.partners-form__input-block{
    display: grid;
    grid-template-columns: 64px 1fr;

    height: 64px;
    width: 100%;

    margin-bottom: 30px;

    border: var(--button-border-color-light) solid 1px;
    border-radius: 10px;
}

.partners-form__input{
    border: none;
    border-radius: 0 10px 10px 0;

    padding-left: 20px;

    border-left: var(--button-border-color-light) solid 1px;

    font-family: var(--font-regular);
    font-size: 18px;
}

.partners-form__input::placeholder{
    font-family: var(--font-light);
    color: #C0C0C0;

    transform: translateY(2.5px);
}

.input-block__img{
    margin-top: 20px;
    margin-left: 20px;
}

.partners-form__checkbox-block{
    display: flex;
    column-gap: 15px;

    height: 24px;
    margin-bottom: 18px;
}

.partners-form__checkbox:checked,
.partners-form__checkbox:not(:checked){
    position: absolute;
    left: 50%;
    opacity: 0;
}

.partners-form__label{
    display: inline-block;
    position: relative;

    padding-left: 39px;

    cursor: pointer;
}

.partners-form__label::before{
    content: "";
    position: absolute;
    left: 0;
    top: -4px;

    width: 24px;
    height: 24px;

    border: var(--button-border-color-light) solid 1px;
    border-radius: 6px;
}

.partners-form__checkbox:checked + .label::after,
.partners-form__checkbox:not(:checked) + .label::after{
    content: "";
    position: absolute;

    left: -4px;
    top: -8px;

    width: 32px;
    height: 32px;

    transform: scale(50%);

    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-size: contain;

    transition: opacity 0.2s ease-out;
}

.partners-form__checkbox:checked + .label::after{
    opacity: 1;
}

.partners-form__checkbox:not(:checked) + .label::after{
    opacity: 0;
}

.partners-form__button{
    margin: 45px auto;
}



/* footer */
.footer {
    height: 100px;
    background-color: #141B41;
}

.footer__container {
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__nav {
    color: var(--font-color-white);
}

.footer__button {
    border: #72727E solid 1px;
    color: var(--font-color-white);
}

/* fading animation */
.fade {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }